@page "/departments"
@namespace EntityG.Client.Pages.Departments
@using EntityG.Contracts.Responses.Department
@using EntityG.Contracts.Responses.Projects 

<div>
    <PageContainer Title="Employees">
        <Breadcrumb>
            <Breadcrumb>
                <BreadcrumbItem>Home</BreadcrumbItem>
                <BreadcrumbItem>Departments</BreadcrumbItem>
            </Breadcrumb>
        </Breadcrumb>
        <ChildContent>
            <div class="standardList">
                <Card Class="listCard"
                      Title="Manage Departments"
                      Style="margin-top: 24px;"
                      BodyStyle="padding: 0 32px 40px 32px">
                    <Extra>
                        <div class="extraContent">
                            <Search Class="extraContentSearch" Placeholder="Search..." @bind-Value="@SearchText" OnSearch="GetAllDepartmentsWithPaging" />
                        </div>
                    </Extra>
                    <ChildContent>
                        <Button Type="primary" OnClick="CreateDepartment">Create</Button>
                        <br />
                        <br />
                        <Table DataSource="@_departments" TItem="DepartmentDto"
                               Total="@TotalCount"
                               Loading="@IsLoading"
                               PageIndex="@Page"
                               PageSize="@PageSize"
                               OnPageIndexChange="HandlePageIndexChanged"
                               OnPageSizeChange="HandlePageSizeChange">
                            <AntDesign.Column TData="string"
                                              Title="Name"
                                              @bind-Field="context.Name" />
                            <AntDesign.Column TData="string"
                                              Title="Description"
                                              @bind-Field="context.Description" />
                            
                            <AntDesign.Column TData="string" Title="Created On">
                                @context.CreatedOn.ToLocalTime().ToString("dd-MM-yyyy HH:mm:ss")
                            </AntDesign.Column>
                            <AntDesign.Column Title="Action" Field="context.Id">
                                <Dropdown Placement="@PlacementType.BottomCenter">
                                    <Overlay>
                                        <Menu>
                                            <MenuItem OnClick="(() => Edit(context.Id))">
                                                Edit
                                            </MenuItem>
                                            <MenuItem OnClick="(() => ShowDeleteConfirm(context))">
                                                Delete
                                            </MenuItem>
                                        </Menu>
                                    </Overlay>
                                    <ChildContent>
                                        <Button Type="primary">Actions</Button>
                                    </ChildContent>
                                </Dropdown>
                            </AntDesign.Column>
                        </Table>
                        <Modal Title="@DepartmentDialogTitle"
                               Visible="@DepartmentDialogVisible"
                               OnOk="@HandleDepartmentDialogOk"
                               OnCancel="@HandleDepartmentDialogCancel">
                            <Form @ref="DepartmentDialogForm"
                                   Model="@_department"
                                   LabelColSpan="8"
                                   WrapperColSpan="16">
                                @{ if (@context.Id != 0)
                                   {
                                       <FormItem Label="Department Id">
                                           <Input @bind-Value="@context.Id" Disabled />
                                       </FormItem> } }
                                <FormItem Label="Name">
                                    <Input @bind-Value="@context.Name" />
                                </FormItem>
                                <FormItem Label="Description">
                                    <Input @bind-Value="@context.Description" />
                                </FormItem>
                            </Form>
                        </Modal>
                    </ChildContent>
                </Card>
            </div>
        </ChildContent>
    </PageContainer>
</div>